In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

data = pd.read_csv("student-mat.csv")

data.head(15)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16

In [2]:
data.describe

<bound method NDFrame.describe of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

In [3]:
new_data = 	data.loc[:, ["Dalc", "Walc", "goout", "freetime", "G3"]]

In [4]:
new_data.head(15)

    Dalc  Walc  goout  freetime  G3
0      1     1      4         3   6
1      1     1      3         3   6
2      2     3      2         3  10
3      1     1      2         2  15
4      1     2      2         3  10
5      1     2      2         4  15
6      1     1      4         4  11
7      1     1      4         1   6
8      1     1      2         2  19
9      1     1      1         5  15
10     1     2      3         3   9
11     1     1      2         2  12
12     1     3      3         3  14
13     1     2      3         4  11
14     1     1      2         5  16

In [5]:
new_data.isnull().sum()

Dalc        0
Walc        0
goout       0
freetime    0
G3          0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

Selected_features = ['Dalc','Walc','goout','freetime']

y = new_data[Selected_features]
X = new_data['G3']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report 
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)
model.predict(X_train)
predictions = model.predict(X_test)

print(classification_report(y_test, predictions))
print('Predicted labels: ', predictions)
print('Accuracy: ', accuracy_score(y_test, predictions))

ValueError: Expected 2D array, got 1D array instead:
array=[ 5. 15. 13. 10.  8.  8.  8. 16.  6.  6. 10. 13. 11.  0.  8. 10. 14.  0.
 15. 18. 16. 11. 11. 10. 13.  9.  9. 15. 10.  8. 13. 13. 12. 10. 12.  7.
 10. 10. 10.  9.  6.  8. 12.  8.  9.  9. 14. 18. 10. 10. 10. 11.  0.  0.
 11.  5.  8.  5. 11. 12. 10. 11. 11.  8. 14. 11.  0. 18.  7. 15. 10.  7.
  8.  0.  9. 10.  9. 19. 10. 10. 10. 14. 11. 10. 16. 11.  9. 12. 15. 12.
  8. 10. 15. 16. 11. 13.  6. 11.  5. 13. 10. 15. 14. 15. 11. 12. 11. 12.
  8. 19.  0. 17. 13. 12. 14. 12. 14.  6. 10. 18. 10.  9. 12.  9. 13.  7.
 11. 11. 16. 13. 17.  9. 14.  0. 15. 12. 11.  6. 10.  0. 14. 10.  9. 13.
 14. 12. 10. 16. 14. 16. 12. 14. 13. 10. 12.  0. 13.  8.  0.  8. 10. 12.
  6. 10. 15. 11. 12. 18.  6. 11. 13. 15. 15.  9. 11.  8. 18. 11. 15. 14.
 15. 11. 11. 15.  0. 11. 11.  8. 10. 14.  0. 10. 17. 16.  9. 11.  0. 14.
 11. 11. 11. 10.  6.  8. 17. 15. 10. 12. 16. 17.  5.  0.  8. 12.  0. 10.
  9.  7. 13. 10. 13. 10. 15. 14. 13.  0.  9. 13. 15. 16. 15. 10. 15.  8.
 13. 20. 10.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.